$base-blue: #071A52;
$primary-green: #17B978;
$secondary-green:#086972;

$primary-light:  #7ed56f;
$primary-dark:#22966f;

$light-grey: #f0f0f0;
$light-blue-grey:#d8e2ee;



$font-size-footer: 1.4rem;