.heading-primary{
    font-size: 4rem;
    color: $base-blue;
    font-weight: 700;
    
}

.heading-tertiary{
    font-size: 2.5rem;
    color: $base-blue;
    font-weight: 500;
}

.my-para{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: $base-blue;
    font-family: Microsoft YaHei UI;
    font-weight: 100;
}

.my-para__info{

    font-size: 2rem;
    color: $base-blue;
    font-family: Microsoft YaHei UI;
    font-weight: 100;
}