@font-face{
    font-family: Remachine Script Personal Use;
    src: url(../fonts/RemachineScript_Personal_Use.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    overflow: hidden;
}

.reg{
    height: 100vh;
    width: 100%;
}

.left{
    background-image:url("../images/auth/reg-bg.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#logo{
    font-family: Remachine Script Personal Use;
    font-size: 5rem;
}

.main-div{
    position: relative;
    width: 80%;
    margin: 5rem auto 0 auto;
    z-index: 2;
}


.left:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #e7f6f5e5;
}

#grass-img{
    position: absolute;
    width: 105%;
    bottom: -1.5rem;
    left: -.8rem;
    z-index: 1;
}

#big-leaf{
    position: absolute;
    bottom: -1.3rem;
    left: 18%;
    z-index: 2;
    width: 25%;
}







.right{
    height: 100vh;
    width: 100%;
}

form{
    width: 50%;
}

.line{
    height: .1rem;
    background-color: silver;
}

.or-divider{
    width: 50%;
}

.logo{
    width: 1.5rem;
    margin-right: .5rem;
}

.fb{
    background-color: #0982DF;
    color: white;
}

.google{
    background-color: #EAECEE;
}

.auth-other{
    width: 48%;
}

.my-btn{
    padding: .4rem 0;
    border-radius: .2rem;
}

.logo-text{
    font-size: .8rem;
    font-weight: 600;
}

input{
    border: none;
    background-color: #EAECEE;
    border-radius: .4rem;
    padding: .5rem .4rem;
}
.reg-title{
    width: 50%;
    color: #031857;
}

.label-style{
    font-weight: 500;
    color: #031857;
}

.submit-btn{
    background-color: white;
    border: solid .05rem #28b485;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: #28b485;
    width: 10rem;
    margin: 0 auto;
}

